@model MovieFormViewModel

@{ 
    ViewData["Title"] = "Movie Form";
}

<h2>@(Model.Id > 0 ? "Edit" : "Create") Movie</h2>
<hr />

<section class="row justify-content-between">
    <div class="col-md-4">

        <form method="post" asp-action="@(Model.Id > 0 ? "Edit": "Create")" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />

            @Html.ValidationMessage("Poster")
            <div class="form-group">
                <label class="text-muted" asp-for="Title"> </label>
                <input type="text" class="form-control" asp-for="Title" maxlength="250" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="text-muted" asp-for="GenreId"> </label>
                <select class="form-control" asp-for="GenreId" asp-items="@(new SelectList(Model.Genres, "Id", "Name"))">
                    <option></option>
                </select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="text-muted" asp-for="Year"> </label>
                <input type="number" class="form-control" asp-for="Year" value="@(Model.Year > 0 ? Model.Year : string.Empty)" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="text-muted" asp-for="Rate"> </label>
                <input type="number" class="form-control" asp-for="Rate" value="@(Model.Rate > 0 ? Model.Rate : string.Empty)" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="text-muted" asp-for="StoryLine"> </label>
                <textarea class="form-control " asp-for="StoryLine" maxlength="2500" rows="5"></textarea>
                <span asp-validation-for="StoryLine" class="text-danger"></span>
            </div>


            <div class="custom-file">
                @*accept="image/*"*@
                <input type="file" class="custom-file-input" asp-for="Poster" accept=".png, .jpg" />
                <label class="custom-file-label" asp-for="Poster"></label>
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary mt-4">
                <i class="bi bi-check"></i>
                Save
            </button>
            <a class="btn btn-outline-secondary mt-4" asp-action="Index">
                <i class="bi bi-x"></i>
                Cancel
            </a>


        </form>

    </div>

    <div class="col-md-5">
        <div id="poster-container" class="mt-3 @(Model.Id > 0 ? string.Empty : "d-none")">
            <img src="@(Model.Id> 0 ? $"data:image/*;base64,{Convert.ToBase64String(Model.Poster)}" : string.Empty)" alt="Poster Image" class="img-thumbnail" />
        </div>
    </div>

</section>

@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        debugger;
        $(document).ready(function () {
            $('#Poster').on('change', function () {
                debugger
                var selectedFile = $(this).val().split('\\').pop();
                $(this).siblings('label').text(selectedFile);

                var posterContainer = $('#poster-container');
                var image = window.URL.createObjectURL(this.files[0]);

                posterContainer.removeClass("d-none");
                posterContainer.find('img').attr('src', image);
            });

            $("#Year").datepicker({
                format: 'yyyy', 
                viewMode: 'years', 
                minViewMode: 'years', 
                autoclose: true, 
                startDate: new Date('1950-01-01'),
                endDate: new Date()
            });
        });
    </script>
}